---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
NamespaceIndentation: All
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: Never
IncludeBlocks: Preserve
BreakStringLiterals: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
...
